<!--
  * 데이터 바인딩, 다른 컴포넌트 등을 작성 가능
  * 컴포넌트의 셀렉터로 지정된 DOM 요소에 템플릿 내용이 들어간다.
-->

<div class="title">
  <h1>나의 하루</h1>
  <h2>5월 25일</h2>
</div>
<div>
  <!--<div *ngFor="let todo of todos" (click)="todo.done != todo.done"> C ← DOM: (이벤트)=템플릿 문장 -->
  <div *ngFor="let todo of todos" (click)="toggleTodo(todo)"> <!--C ← DOM: (이벤트)=템플릿 문장 -->
    <input type="checkbox" [checked]="todo.done">{{ todo.text }} <!-- C → DOM: [속성]="템플릿 표현식" -->
  </div>
</div>
<div>
  <input type="text" placeholder="할 일 추가" [(ngModel)]="newText"> <!--양방향 데이터 바인딩 ngModel 지시자 -->
  <button (click)="addTodo(newText)">Add</button>
</div>
